* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 1rem;
    text-align: center;
}


.nav {
    background-color: rgb(226, 17, 17);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

/*  makes store shift up. fix later if you want title larger */ 
/* .site-title { */
    /* font-size: 2rem; */
/* } */

.site-title:hover {
    background-color: rgb(23, 88, 52);
    /* background-color: #777; */
}


.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

/* .nav li.active {
    will add a background color routes in nav
    background-color: #555;
} */

.nav li:hover {
    background-color: rgb(23, 88, 52);
    /* background-color: #777; */
}


.nav img {
    height: 110px;
    display: flex;
    align-items: center;
    border-radius: 200px;
    background: #73AD21;
    padding: 0px;
    /* animation: spin 6.5s infinite linear; */
}


@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }